html,
body {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

.good{
  background-color: skyblue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn-outline-success {
  margin: 30px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.card {
  display: grid;
  grid-template-rows: 2fr 1.5fr;
}
.card-body {
  max-height: 2em;
}
.card-text {
  text-align: justify;
}
@media only screen and (max-width: 800px) {
  .container-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
.courseInfo{
  width: "60em";
    height: "20em";
}
}
@media only screen and (max-width: 800px) {
  .courseInfo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
.mailchimp{
  display:grid;
  justify-items: center;
  justify-self: center;
}
.mailchimp :nth-child(1){
  width:20em;
  padding: 0.5em;
  margin-bottom:1em
}
.mailchimp :nth-child(2){
  width:20em;
  padding: 0.5em;
  margin-bottom:1em
}
.mailchimp :nth-child(3){
  width:20em;
  padding: 0.5em;
  margin-bottom:1em
}
.mailchimp :nth-child(4){
  width:5em;
  padding: 0.3em;
  margin-bottom:1em;
  border-radius: 5px;
  border: 1px solid;
  color: #009621;
  border-color:#009621 ;
  background-color: white;
  transition-duration: 250ms ;
  
}
.mailchimp :nth-child(4):hover{
  color:white;
  background-color: #009621;
  cursor: pointer;
  
}
.nav-right {
  float: right;
}

.card-img-top {
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.jumbotron {
  background-color: white;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
